.playoff-table * {
    box-sizing: border-box;
}

@font-face {
    font-family: Vogue Font;
    src: url(assets/Vogue.ttf);
}

body {
    margin: 0;
}

.navbar {
    background-color: #224ea7;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    opacity: 0.9;
}

.navbar .container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .container ul {
    width: 530px;
    font-size: larger;
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: white;
    margin-right: 180px;
}

.navbar .container ul a {
    text-decoration: none;
    color: white;
}

.tabela-playoff {
    font-size: 20px;
    width: 100%;
    background-color: #f5f2f2;
    height: 120vh;
}

.tabela-playoff .conteudo-tabela-playoff {
    display: flex;
    padding: 100px;
    margin: 30px;
}

.tabela-playoff .rodada-tabela-playoff {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    
}

.tabela-playoff .par-tabela-playoff {
    position: relative;
}

.tabela-playoff .par-tabela-playoff:before {
    content: '';
    position: absolute;
    top: 35px;
    right: -12px;
    width: 12px;
    height: 1px;
    background-color: #224ea7;
}

.tabela-playoff .par-tabela-playoff:after {
    content: '';
    position: absolute;
    width: 3px;
    height: 1000px;
    right: -12px;
    z-index: 1;
}

.tabela-playoff .par-tabela-playoff-estilo {
    border: 1px solid #224ea7;
    background-color: white;
    width: 180px;
    margin-bottom: 20px;
}

.tabela-playoff .grupo-tabela-playoff {
    padding-right: 11px;
    padding-left: 10px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.tabela-playoff .grupo-tabela-playoff:after {
    content: '';
    position: absolute;
    top: 37px;
    bottom: 66px;
    right: 0px;
    width: 1px;
    background-color: #224ea7;
}


.tabela-playoff .jogador-esquerdo-tabela-playoff,
.tabela-playoff .jogador-direito-tabela-playoff {
    min-height: 30px;
    padding: 5px 5px;
}

.tabela-playoff .jogador-esquerdo-tabela-playoff {
    border-bottom: 1px solid #cccccc;
}

.tabela-playoff .jogador-esquerdo-tabela-playoff:before {
    content: '';
    position: absolute;
    bottom: 40px;
    left: -12px;
    width: 12px;
    height: 1px;
    background-color: #224ea7;
}

.tabela-playoff .jogador-direito-tabela-playoff {
    margin-top: -1px;
    border-top: 1px solid #afafaf;
}

.tabela-playoff .terceiro-lugar-tabela-playoff {
    position: absolute;
    left: 11px;
    top: 60%;
    margin-top: 100px;
}

.tabela-playoff .rodada-tabela-playoff:first-child .jogador-esquerdo-tabela-playoff:before {
    display: none;
}

.tabela-playoff .rodada-tabela-playoff:last-child .grupo-tabela-playoff:after {
    display: none;
}

.tabela-playoff .rodada-tabela-playoff:last-child .par-tabela-playoff:after,
.tabela-playoff .rodada-tabela-playoff:last-child .par-tabela-playoff:before {
    display: none;
}

select {
    appearance: none;
    padding: 5px;
    border: 0px solid #ccc;
}