@font-face {
    font-family: Vogue Font;
    src: url(assets/Vogue.ttf);
}
html{
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #224ea7;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    opacity: 0.9;
}

.navbar .container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .container ul {
    width: 530px;
    font-size: larger;
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: white;
    margin-right: 180px;
}

.navbar .container ul a {
    text-decoration: none;
    color: white;
}

.tabela-playoff {
    width: 100vw;
    background-color: #f5f2f2;
    height: 100%;
    z-index: 1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tabela-playoff h1{
    color: #224ea7;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    padding-top: 100px;
    font-size: xx-large;
}

.tabela-playoff h4{
    color: #224ea7;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: large;
    opacity: 0.8;

}

.tabela-playoff .conteudo-tabela-playoff {
    display: flex;
    margin-left: 100px;
    width: 100%;
    height: 100vh;
    
}

.tabela-playoff .rodada-tabela-playoff {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;

}

.tabela-playoff .par-tabela-playoff {
    position: relative;
}

.tabela-playoff .par-tabela-playoff:before {
    content: '';
    position: absolute;
    top: 35px;
    right: -12px;
    width: 12px;
    height: 1px;
    background-color: #224ea7;
}

.tabela-playoff .par-tabela-playoff:after {
    content: '';
    position: absolute;
    width: 3px;
    right: -12px;
}

.tabela-playoff .par-tabela-playoff-estilo {
    border: 1px solid #224ea7;
    background-color: white;
    width: 300px;
    margin-bottom: 20px;
}

.tabela-playoff .grupo-tabela-playoff {
    padding-right: 11px;
    padding-left: 10px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    
}

.tabela-playoff .grupo-tabela-playoff:after {
    content: '';
    position: absolute;
    top: 41px;
    bottom: 72px;
    right: 0px;
    width: 1px;
    background-color: #224ea7;
}


.tabela-playoff .jogador-esquerdo-tabela-playoff,
.tabela-playoff .jogador-direito-tabela-playoff {
    min-height: 30px;
    padding: 5px 5px;
}

.tabela-playoff .jogador-esquerdo-tabela-playoff {
    border-bottom: 1px solid #cccccc;
}

.tabela-playoff .jogador-esquerdo-tabela-playoff:before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: -12px;
    width: 12px;
    height: 1px;
    background-color: #224ea7;
}

.tabela-playoff .jogador-direito-tabela-playoff {
    margin-top: -1px;
    border-top: 1px solid #afafaf;
}

.tabela-playoff .terceiro-lugar-tabela-playoff {
    position: absolute;
    left: 11px;
    top: 60%;
    margin-top: 100px;
}

.tabela-playoff .rodada-tabela-playoff:first-child .jogador-esquerdo-tabela-playoff:before {
    display: none;
}

.tabela-playoff .rodada-tabela-playoff:last-child .grupo-tabela-playoff:after {
    display: none;
}

.tabela-playoff .rodada-tabela-playoff:last-child .par-tabela-playoff:after,
.tabela-playoff .rodada-tabela-playoff:last-child .par-tabela-playoff:before {
    display: none;
}

.container-select {
    position: relative;
}

select {
    appearance: none;
    padding: 5px;
    border: 0px solid rgba(0, 0, 0, 0);
    position: absolute;
    top: 5px;
    left: 10px;
    z-index: 10;
}

button{
    margin: 0;
    padding: 0;
    padding-left: 24px;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#background{
position: fixed;
width: 100%;
height: 100%;
background-color: #00000079;
z-index: 1001;
margin-top: -21px;
display: none;
}

#modal{
height: 250px;
width: 250px;
background-color: #f5f2f2;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
display: none;
border-radius: 30px;
}

#modal img{
    height: 80px;
}

.jogador-esquerdo-tabela-playoff {
    background-size: cover !important;
    background-position: center !important;
position: relative;
    
}

.jogador-direito-tabela-playoff {
    background-size: cover !important;
    background-position: center !important;
    position: relative;
}

#retangulo9{
    text-align: center;
    color: white;
}

#retangulo10{
    text-align: center;
    color: white;
}
#retangulo11{
    text-align: center;
    color: white;
}
#retangulo12{
    text-align: center;
    color: white;
}
#retangulo13{
    text-align: center;
    color: white;
}
#retangulo14{
    text-align: center;
    color: white;
}

.container-select{
    text-align: center;
}

.dadosCampeao a{
    border-radius: 10px;
    font-size: x-large;
    color: #224ea7;
    padding-left: 1000px;
}