@font-face {
    font-family: Vogue Font;
    src: url(assets/Vogue.ttf);
}

body {
    margin: 0;
}

.navbar {
    background-color: #224ea7;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    opacity: 0.9;
}

.navbar .container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .container ul {
    width: 530px;
    font-size: larger;
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: white;
    margin-right: 180px;
}

.navbar .container ul a {
    text-decoration: none;
    color: white;
}

/*.logo {
    margin: 0 auto; /* Define as margens esquerda e direita como automáticas 
    max-width: 200px; /* Ajuste a largura máxima conforme necessário */

.header .container a:hover {
    color: white;
    cursor: pointer;
}

.banner {
    background-color: #224ea7;
    background-size: cover;

}

.banner .container {
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url(assets/imagemInicio.avif);
    background-size: cover;

}

.card {
    height: 100vh;
    width: 50%;
    display: flex;

}

.titulo {
    display: flex;
    color: white;
    flex-direction: column;
    margin-left: 40px;
    justify-content: center;
    text-align: left;
    opacity: 0.7;
}

.banner-2 {
    background-color: white;
    padding-bottom: 15px;
    padding-top: 30px;
}


.tituloHistoria{
    color: #000;
    margin: 0;
    text-align: center;

}
.imagemBufallo img{
    width: 35%;
    margin-left: 30px;
}

.texto-direita p {
    position: relative;
    top: -250px; /* Ajuste conforme necessário. */
    display: flex;
    width: 30%;
    margin-left: 600px;
    
}







